:root {
    --main-bg-color: lightblue;
}

@font-face {
    font-family: sans-medium;
    src: url(../../fonts/ProductSans-Medium.woff);
}

@font-face {
    font-family: sans-regular;
    src: url(../../fonts/ProductSans-Regular.woff);
}