.note-edit {
    min-height: 5en;
    margin-top: 10%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    position: absolute;
    margin-left: 45rem;
    min-width: 45em;
    height: 40em;
    border-radius: 3%;
    align-items: center;
}

.note-edit>input {
    border-radius: 15%;
}

.note-edit>textarea {
    border: none;
    min-width: 80%;
    min-height: 15em;
}

.note-edit>div {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    display: grid;
    gap: 1em;
}

.note-edit>:last-child {
    margin-bottom: 1em;
    height: 10em;
}

div.img-edit{
    display: block;
    height:23em;
}

.edit-select{
    height:2em;
    align-self: center;
}
