.note-edit {
    min-height: 5en;
    margin-top: 10%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 3em;
    position: absolute;
    margin-left: 40%;
    min-width: 40%;
    border-radius: 3%;
    justify-content: center;
    align-items: center;

}

.note-edit>input {
    border-radius: 15%;
}

.note-edit>textarea{
    margin: 0px 2px 2px;
    width: 472px;
    height: 20em;
}