.note-edit {
    min-height: 5en;
    margin-top: 10%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 3em;
    position: absolute;
    margin-left: 45rem;
    min-width: 45em;
    height: 40em;
    border-radius: 3%;
    align-items: center;
}

.note-edit>input {
    border-radius: 15%;
}

.note-edit>textarea {
    border: none;
    margin: 0px 2px 2px;
    min-width: 95%;
    min-height: 20em;
}

.note-edit>div {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    display: grid;
    gap: 1em;
}

.note-edit>:last-child {
    margin-bottom: 1em;
}
