.note-list {  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: center;
    align-content: center;
    gap: 2rem;
}

.note-list>* {
    margin: 0px 0px;
    border: solid 1px lightslategray;
    border-radius: 3%;
    display: grid;
    grid-template-rows:  5fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    min-width: 1rem;
}

input.color {
    display: none;
}

.note-list>li{
    background-color: #ffffff92;
}

i{
    display: flex;
    font-size: 1.5em;
    margin-inline-start: 1em;
    align-content: center;
}