.note-list {
    
    /* margin-top: 1rem; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
    /* grid-template-columns: repeat(5, 70rem); */
    /* grid-template-rows: repeat(5, 200px); */
    justify-content: center;
    align-content: center;
    gap: 2rem;
}

.note-list>* {
    margin: 0px 0px;
    border: solid 1px lightslategray;
    /* display: flex; */
    display: grid;
    grid-template-rows:  5fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    min-width: 1rem;
}

input.color {
    display: none;
}