.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.grid {
    display: grid;
}

.app-layout {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr 1fr;
}

.side-bar ul{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-inline-start: 2em;
    font-size: 1.2em;
    padding-top: 2em ;

}

.side-bar ul > li:hover{
    background-color: lightgrey;
    border-width: 10px;
}

.main-app {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

.list-style-none{
    list-style-type: none;
}