.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.grid {
    display: grid;
}

.app-layout {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr 1fr;
}

.side-bar {
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    gap: 1em;
    margin-inline-start: 2em;
    font-size: 1.2;
    padding-top: 2em;
=======
    /* background-color: aliceblue; */
>>>>>>> af2f135e227337b66eb60d801609d4186b9ede09
}

.main-app {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

.list-style-none{
    list-style-type: none;
}