.email-folder-list ul{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-inline-start: 2em;
    font-size: 1.2em;
    padding-top: 2em ;
}



.email-folder-list ul > li:hover{
    background-color: lightgrey;
    border-width: 10px;
}