.main-details {
    min-height: 80vh;
    margin-top: 10%;
    background-color: rgb(179, 172, 172);
    display: flex;
    flex-direction: column;
    gap: 100px;
    border-radius: 50px;
}

.main-details .subject {
    display: flex;
    align-items: center;
    background-color: white;
    min-height: 10%;
    margin-top: 10px;
    border-radius: 40px;
    padding-inline-start: 5px;
}

.body {
    padding-inline-start: 5px;
    background-color: white;
    min-height: 45%;
    padding-top: 30px;
    border-radius: 40px;

}